<mat-accordion>

  <mat-expansion-panel (opened)="deviceInfoOpenState = true" (closed)="deviceInfoOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Device info
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ul>
      <li>
        Type : {{ device.type }}
      </li>
      <li>
        Size : {{ zone.leds_count }} leds
      </li>
      <li>
        Description : {{ device.description }}
      </li>
      <li>
        Location : {{ device.location }}
      </li>
      <li>
        Serial : {{ device.serial }}
      </li>
      <li>
        Vendor : {{ device.vendor }}
      </li>
      <li>
        Version : {{ device.version }}
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>


<mat-form-field appearance="fill">
  <mat-label>Mode</mat-label>
  <mat-select [(value)]="activeMode">
    <mat-option [value]="mode" *ngFor="let mode of device.modes">
      {{mode.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div>
  <span *ngFor="let i of Arr(zone.leds_count).fill(1)">
    <mat-form-field class="hidden">
      <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr" />
      <ngx-mat-color-picker #picker [touchUi]="touchUi" [color]="color"></ngx-mat-color-picker>
    </mat-form-field>
    <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
  </span>
</div>
<hr />

{{ zone| json }}