<mat-toolbar color="primary" class="header">

  <span class="nav-tool-items">
    <mat-icon 
    (click)="sidenav.toggle()"
     class="hamburger">menu</mat-icon>
  </span>
  
  <div>OpenRGB WebApp</div>

</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav 
    [mode]="isBiggerScreen() ? 'over' : 'side'" 
    [(opened)]="opened" 
    [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>dashboard</mat-icon> Home
      </a>
      <a mat-list-item>
        <mat-icon>settings</mat-icon> Settings
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>

      
  <mat-tab-group [backgroundColor]="'primary'" mat-align-tabs="start">
    <mat-tab *ngFor="let device of devices$|async" [label]="device.name">
    
      <mat-tab-group *ngIf="device.zones.length > 1"    
      [backgroundColor]="'primary'" mat-align-tabs="start">
        <mat-tab *ngFor="let zone of device.zones" [label]="zone.name">              
          <app-zone-config [zone]="zone" [device]="device"></app-zone-config>
        </mat-tab>
      </mat-tab-group>

      <app-zone-config 
        *ngIf="device.zones.length == 1" 
        [zone]="device.zones[0]"
        [device]="device">
      </app-zone-config>

      {{device | json }}

    </mat-tab>
  </mat-tab-group>

  </mat-sidenav-content>
</mat-sidenav-container>
